.notificationAnimation {
    position: fixed;
    bottom: -1rem;
    animation: notification 2s ease-in-out forwards;
}

@keyframes notification {
    0% {
        transform: scale(0.3) translateY(0rem);
    }

    15% {
        transform: scale(1) translateY(-2.5rem);
    }

    85% {
        transform: scale(1) translateY(-2.5rem);
    }

    100% {
        transform: scale(0.3) translateY(0rem);
    }
}